---
import Text from "../components/Text.astro";
const { header, subheader, text1, text2, text3, text4, text5 } = Astro.props;
---

<div class="mb-5">
  <Text teksttype="textbold">{header}</Text>
  <Text teksttype="text">{subheader}</Text>
  <div class=" mt-3 ml-3">
    <Text teksttype="lille">{text1}</Text>
    <Text teksttype="lille">{text2}</Text>
    <Text teksttype="lille">{text3}</Text>
    <Text teksttype="lille">{text4}</Text>
    <Text teksttype="lille">{text5}</Text>
  </div>
</div>