---
const { header, subheader, text1, text2, text3, text4, text5 } = Astro.props;
---

<div class="mb-5">
  <p class="font-bold">{header}</p>
  <p>{subheader}</p>
  <div class="text-sm mt-3 ml-3">
    <p>{text1}</p>
    <p>{text2}</p>
    <p>{text3}</p>
    <p>{text4}</p>
    <p>{text5}</p>
  </div>
</div>
